<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a><%=link_to"myRecipies", root_path, class:"btn btn-lg btn-success", id:"logo" %></a>
      
      <div class="nav_item">
        <%=link_to "Recipes", recipes_path, class:"btn btn-default btn-success"%>
      </div>
      
      <% if logged_in? %>
      <div class="nav_item">
        <%=link_to "New Recipe", new_recipe_path, class:"btn btn-default btn-success"%>
      </div>
      
      <ul class="nav_item right-align navbar-right">
        <li class="dropdown">
          <%= link_to "#", class: "btn btn-default btn-sucess dropdown-toggle", "data-toggle" => "dropdown" do %>
          <%= current_user.chefname %> <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%=link_to "My Profile", chef_path(current_user) %> </li>
            <li><%=link_to "Edit Profile", edit_chef_path(current_user) %> </li>
            <li class="divider"></li>
            <li><%=link_to "Logout", logout_path %> </li>
          </ul>
        </li>
      </ul>
      
      <% else %>
      <div class="nav_item">
        <%=link_to "Login", login_path, class:"btn btn-default btn-success"%>
      </div>
      
      <% end %>
      
    </div>
</header>